body{
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}
/*=============navbar class start==================*/
.nav{
	background-color: black;
	padding: 0 2rem;
	min-height: 10vh;
	overflow: hidden;
	transition: height 1s ease-in-out;
}
.nav .nav-menu{
    display: flex;
	justify-content: space-between;
    margin: 10px 10%;
}
.nav .nav-items{
	display: flex;
	margin: 0em;
    list-style: none;

}
.nav .nav-items .nav-link{
	padding: 1.6rem 1rem;
	font-size: 1.1rem;
	position: relative;
    text-decoration: none;
}
.nav .nav-items .nav-link a{
    text-decoration: none;
    color: orange;
}

.nav .nav-brand a{
	font-size: 2rem;
	padding: 1rem 0;
	display: block;
    color: orange;
    text-decoration: none;
    font-weight: bolder;
}
/*------------------*/

h1{
    font-size: 60px;
}

.title-size{
    font-size: 37px;
}

.orange-color{
    color: orange;
}

p{
    display: block;
    font-size: 17px;
    font-weight: inherit;
    line-height: 36px;
}


.flexible-container{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin: 0 auto;
    
}
.about_me .flexible-container p{
    margin-bottom: 90px;
    width: 82%;
}
.first-sec{
    padding: 7rem 4rem;
    
}
.about_me{
    background-image: url(../images/shapes/7.png);
    /* background-color: #FFF4ED; */
    padding: 7rem 4rem 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
}

.half-width{
    width: 50%;
    padding: 0 3%;
    
}
.flexible-width{
    width: 33.33%;
    padding: 0 4%;
}

.half-width img{
    width: 80%;
}
.flexible-width img{
    width: 100%;
    margin-bottom: 50px;
}

.link-button{
    font-size: 1em;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-top: 2em;
    padding: .8em 1.6em;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0px 0px 16px #fc8f49;

}

.My-recipies-area{
    margin-bottom: 150px;
    
}
.short-description{
    width: 42%;
    text-align: center;
    margin: 75px auto 40px;
}

.special-width{
    margin: 55px 110px;
}
.font-w8{
    font-size: 35px;
}

.subscriber-info{
    margin-bottom: 80px;
}

footer{
    background-color: black;
    text-align: center;
    color: #FFFFFF;
    padding: 30px 0 80px 0;
}
.ash-color{
    color: #5B5B5B;
}

.special-container{
    background-color: #FFFFFF;
    width: 73%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(206, 200, 200);
}
small{
    display: block;
    margin-top: 5px;
}
.special-shedow{
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 10px 10px 40px rgb(206, 200, 200);
    padding: 6% 6%;
}
strong{
    font-size: 20px;
    font-weight: 900;
}
.footer-description{
    font-size: 16px;
}
.image-size{
    width: 30%;
}
